#header-style{
    font-size:2.8vmin;
    font-weight:bold;
    font-family:garamond;
    min-height:12vmin;
    text-align:center;
    
}
#cap-style{
    color:#05396B;
}

@media (min-width:700px){
    #img-size{
        height:236px;
       }


}
#heading{
    color:#E7717D;
    font-size:2.4vmin;
}
#subheading{
    color:#557A95;
    font-family:cursive;
    font-size:2.5vmin;
}

@media (max-width:700px){
    #img-size{
     height:170px;
    }
    #header-style{
     font-size:16px;
     font-weight:bold;
     font-family:garamond;
     min-height:12vmin;
     text-align:center;
     
    }
    
 }
 @media (max-width:760px){
 #heading{
    color:#E7717D;
    font-size:10px;
}
#subheading{
    color:#557A95;
    font-family:cursive;
    font-size:10px;
}

 }

 @media (min-width:760px) and (max-width:1524px){
    #heading{
       color:#E7717D;
       font-size:12px;
   }
   #subheading{
       color:#557A95;
       font-family:cursive;
       font-size:12px;
   }
   
    }
   